GITHUB_TOKEN=<Your github token>
<LLM_API_KEY_FIELD>=fake_key_for_local_testing_only #the field name should match what you set in config.yaml
#the API key field can be skip if you are already loading this in the env other ways